body {
  background-color: #000;
}

.score_counter {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

.timer_counter {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

.alert_box {
  position: absolute;
  height: 50px;
  width: 100px;
  color: #fff;
  border-radius: 50%;
  display: none;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  font-weight: 900;
}

.alert_box.showAlert {
  display: block;
}

#balko {
  display: none;
  position: absolute;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 25px black;
  text-align: center;
  
}

#balko.showBalko {
  display: block;
}