.score_counter {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

body {
  background-color: #000;
}